@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*----------------- 
  common styles
-----------------*/
:root {
    --iternation: 1;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.button {
    padding: 15px 35px;
    color: #fff;
    background-color: #E02C6D;
    border: none;
    cursor: pointer;
}

.button i {
    margin: 0 5px;
}

.grey {
    color: #555;
}

/*------------------
 navbar styles 
------------------*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2D25A0;
}


.nav-item ul {
    display: flex;
    justify-content: space-between;
}

.nav-item ul li {
    list-style: none;
    margin: 0 30px
}

.nav-item ul li a {
    text-decoration: none;
    color: #fff;
}

.nav-item .fa-bars {
    display: none;
    color: #fff;
}

/*---------------------
     Header styles
---------------------*/
header {
    margin-bottom: 50px;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #2D25A0;
    padding: 60px 50px 80px;
}

.header-item {
    height: 438px;
    width: 556px;
    position: relative;
}

.button.margin-left {
    transition: all 1s ease;
}

.button .fa-arrow-right {
    transition: all 1s ease;
}

.header-item .button.margin-left:hover {
    background-color: #a8004c;
}

.button.margin-left:hover .fa-arrow-right {
    margin-left: 15px;
    margin-right: 0px;
}


.header-item-text {
    margin-bottom: 20px;
}

.header-item-text h1 {
    font-size: 64px;
    font-weight: 700;
    color: white;
    margin: 5px;
}

.header-item:hover .img-2 {
    animation-iteration-count: infinite;
    cursor: pointer;
}

.header-item:hover .img-3 img {
    animation-iteration-count: infinite;
    cursor: pointer;
}

.header-item img {
    width: 100%
}

.img-1 {
    position: relative;
}


.img-2 {
    position: absolute;
    top: 0;
    animation: man 2s ease-out 1s var(--iternation);
}


.img-3 {
    position: absolute;
    top: 100px;
    left: -30px;
}

.img-3 img {
    height: 110px;
    width: 140px;
    animation: ball 2s ease-out 1s var(--iternation);
}

/*-------------------
    players section
-------------------*/
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.players-container {
    width: 85%;
    margin-bottom: 100px;
}

.players {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.player {
    height: 474px;
    width: 330px;
    padding: 15px;
    box-shadow: 0px 0px 20px #ddd;
    overflow: hidden;
    cursor: pointer;
}

.player img {
    transition: all 1s ease;
}

.player-image {
    overflow: hidden;
}

.player:hover img {
    transform: scale(1.2);
}

.player img {
    width: 100%;
}

/*---------------------
    Match Highlights
--------------------*/
.match-highlights {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.match-highlights-info h1 {
    font-size: 48px;
    margin: 3px
}

.match-highlights-info .button:hover {
    border-radius: 25px;
    background-color: #a8004c;
}

.match-highlights-info .button {
    transition: all 1s ease;
}

.match-highlights-photo,
.match-highlights-info {
    width: 42%;
}

.match-highlights-photo img {
    width: 100%;
}

/*------------------
    Keyframes
-------------------*/
@keyframes man {
    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes ball {
    100% {
        transform: translate(-500px, -500px) scale(.4);
        opacity: 0;
    }
}


/*------------------
    Media Query
-------------------*/
@media only screen and (max-width:688px) {

    /* header */
    .nav-item ul {
        display: none
    }

    .img-2,
    .img-3 img {
        animation-iteration-count: 2;
    }

    .img-3 {
        position: absolute;
        top: 60px;
        left: -20px;
    }

    .img-3 img {
        height: 75px;
        width: 90px;
    }

    nav {
        padding: 10px;
        justify-content: space-between;
    }

    .nav-item .fa-bars {
        display: block;
        font-size: 20px;
        margin-left: 10px;
    }

    .header-item-text h1 {
        font-size: 36px;
    }

    .margin-left {
        margin-left: 20px;
    }

    .header-item-text {
        margin-top: 50px;
    }

    .header-item {
        margin-bottom: 50px;
    }

    .header-container {
        grid-template-columns: 1fr;
        width: 100vw;
        padding: 0px;
        height: 100vh
    }

    .header-item {
        width: 100%;
        height: auto;
    }

    /* players */
    .players-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .players {
        grid-template-columns: 1fr;
    }


    /*Match Highlights*/

    .match-highlights {
        flex-direction: column-reverse;
    }


    .match-highlights-photo,
    .match-highlights-info {
        width: 100%;
    }

    .match-highlights-info div {
        padding: 15px;
    }

    .match-highlights-info h1 {
        font-size: 30px;
    }
}